<!--HTML content for the FAQ page for parents-->
<div id="content">
    <div id="feature">
        <p class="eyecatcher">Parent Frequently Asked Questions</p>
        <p><strong>A camp I know about isn't listed on your site.</strong></p>
        <p>We are constantly adding information to the site in an effort to 
            provide a complete listing of all the camps that serve the Treasure
            Valley. Please send us information and we will list it!
        </p>
        <p><strong>How can I know the camps listed on this site are safe?</strong></p>
        <p>We recommend that parents inquire with camps and see if they are certified by the American
            Camp Association (ACA) and/or the Idaho Department of Health and Welfare.  
        </p>
        <p><strong>How do I register for a camp?</strong></p>
        <p>We provide a website link for each camp. If you are interested in registering
            for a camp, visit the website and follow their process for registration.
        </p>
        <p><strong>There are camps listed on your website that are already full.</strong></p>
        <p>We are unable to monitor which camps are full or not, but hope that providing
            a comprehensive list of all camps is useful to parents at the start of the planning
            season. 
        </p>
    </div>
</div>

