<!--HTML content for the About Us page-->
<div id="content">
    <div id="feature">
        <p class="eyecatcher">About TV Kids Guide</p>
        <p><img src="Styles/images/goodegg294x477.jpg" class="align-left medium"/>At TV Kids, we believe that parenting can be easier, and growing up can be fun.
           We are parents ourselves, and constantly looking for opportunities for enrichment
           and fun for our kids. As it turns out, there are lots of options in the Treasure
           Valley. We thought it might be easier to explore options if there were one website 
           dedicated to showcasing all of the summer camps that serve the Treasure Valley. 
        </p>
        <p>We're just getting started, and we know many listings are missing from our service.
            If you think we've missed something, please let us know and we will be sure to add it
            to the list.
        </p>
        <br>
        <hr>
        <p class="eyecatcher">About Herbert</p>
        <p>Herbert is our mascot. He's a good egg, and he knows the early bird gets the worm!
        </p>
    </div>
</div>