<div id="content">
        <div id="feature">
            <p class="eyecatcher">Provider Frequently Asked Questions</p>
            <p><strong>How can I get my camps listed on your site?</strong></p>
            <p>Contact us! We will send you a spreadsheet to fill out so we can easily
                load all of your camp sessions onto our site. We can typically do this within 
                24 hours if your provide information in the correct format.
            </p>
            <p><strong>How much does it cost to list camps on your site?</strong></p>
            <p>It is 100% free! We do not charge camp providers to list on our site.
            </p>
            <p><strong>Some of the camps listed on your site are already full. </strong></p>
            <p>If you send us a list of the sessions that are already full, we can make
                them inactive on our site.
            </p>
            <p><strong>Do you offer advertising opportunities?</strong></p>
            <p>Yes, we are seeking stories and advertisements. Please contact us for more details.</p>
        </div>
    </div>