<div id="searchContainer">
    <div class="leftSidePane">
        <p>Search Filters</p>
        <p> 
            <label for='category'>Categories: </label><br>
            <select name="category" size="2" multiple="multiple">
                <option value="academic">Academic</option>
                <option value="art">Art</option>
                <option value="cooking">Cooking & Health</option>
                <option value="dance">Dance</option>
                <option value="imagination">Imaginative Play</option>
                <option value="music">Music</option>
                <option value="nature">Nature</option>
                <option value="sports">Sports & Aquatics</option>
                <option value="stem">STEM</option>
                <option value="theater">Theater</option>
            </select>  
        </p>
        <p> 
            <label for='attributes'>Attributes: </label><br>
            <select name="attributes" size="2" multiple="multiple">
                <option value="bacare">Before/After Care</option>
                <option value="boysonly">Boys Only</option>
                <option value="girls only">Girls Only</option>
                <option value="gifted">Gifted</option>
                <option value="special">Special Needs</option>
            </select>  
        </p>
        <p> 
            <label for='ages'>Ages: </label><br>
                <select name="ages" size="2" multiple="multiple">
                    <option value="0">0-4</option>
                    <option value="5">5-7</option>
                    <option value="8">8-11</option>
                    <option value="12">12+</option>
                </select>  
        </p>
        <p> 
            <label for='time'>Time of Day: </label><br>
                <select name="time" size="2" multiple="multiple">
                    <option value="AM">AM</option>
                    <option value="PM">PM</option>
                    <option value="full">Full Day</option>
                    <option value="overnight">Overnight</option>
                </select>  
        </p>
        <p> 
            <label for='datestart'>Date Range Start: </label><br>
            <input type="date" name="datestart">
        </p>
        <p> 
            <label for='dateend'>Date Range End: </label><br>
            <input type="date" name="dateend">
        </p>
        <input type="submit" value="Clear">
        <input type="submit" value="Search">

    </div>
    <div class="rightAdjustedPane">
        <p>Search Results</p>
    </div>
</div>