<footer>
      <div class="left-footer">
          <div><h2>Make Summer <span class="eyecatcher">Magical</span></h2></div>
          <div><strong>TVKids exists for one reason</strong></div>
          <div>to connect Treasure Valley families with businesses that value the magic of childhood.</div>
        </div>
    <div class="right-footer">
        <div><strong>Is something missing from our guide?</strong></div>
        <div><a href=contact-us.php>Let us Know</a></div>
        <div><strong>Questions for the team?</strong></div>
        <div><a href=contact-us.php>Contact Us</a></div>
    </div>
</footer>
</body>
</html>