body {
    width: 94%;
    margin: 0 auto;}

#feature {margin: 1%;}

#content, #carousel, #searchContainer {overflow: auto;}

.rightCard{
    width: 48%;
    float: right;
    margin: 1%;}


.leftSidePane{
    width: 25%;
    float: left;
    margin: 1%;
    height: 40em;
    margin-bottom: 1em;
    background-color: #efefef;}

.rightAdjustedPane{
    width: 70%;
    float: right;
    margin: 1%;
    height: 40em;
    margin-bottom: 1em;
    background-color: #efefef;}

li{ 
    display: inline-block; 
    font-family: 'Indie Flower';
    color:#B82601;
    font-size: 20px;
    font-weight:600;
    text-rendering: optimizeLegibility;
    padding: 0em 2em;
    margin-left:5px;
    text-transform:uppercase;
    letter-spacing:1px;
    word-spacing:4px;}

li a:link, li a:visited{
    color: #00303f;
    text-decoration:none;
    text-transform:uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition:border-bottom .2s;
    padding: 5px 0;}

 li a:hover, li a:active{
    border-bottom: 4px solid #B82601;}

.home-feature{
    background-image: url("images/ropes-kid1291x768.jpg");
    height: 40em;
    margin-bottom: 1em;}

#nav{
    background-color: #cae4db;
    padding: 0.5em 0;}

#footer{
    margin-bottom: 20em;
}

 .triCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 23em;
    width: 31.3%;
    margin: 1%;
    float: left;}


.biCard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 32em;
    width: 48%;
    margin: 1%;
    float: left;}

.biCard:hover, .triCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}

.container{
    padding: 2px 16px;}

.card {
    height: 35em;
    margin-top: 2em;
    margin-bottom: 1em;}

#feature{
    height: 32em;
    margin-bottom: 1em;
    background-color: #efefef;}

.title-container{
    padding: 20px, 20px;
    height: 5em;}

h1 {
    font-family: 'Open Sans';
    font-size: 250%;
    text-shadow: 2px 2px 3px #666666;
    text-align: center;
    /*padding-top:  20px;
    padding-bottom: 10px;*/
    color: #ffffff}

p {
    font-family: 'Open Sans';}

.emphawhite {
    color: #ffffff;
    text-shadow: 2px 2px 3px #666666;}

a {
    font-family: 'Open Sans';
    color: #B82601;}

.eyecatcher {
    font-family: Indie Flower;
    font-size: 40px; 
    color: #B82601;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;}

.left-footer {
    font-family: 'Open Sans';
    width: 60%;
    float: left;
    margin: 1%}

.right-footer {
        font-family: 'Open Sans';
        padding-top: 3em;
        width: 30%;
        text-align: right; 
        float: right;
        margin: 1%}