body {
    width: 90%;
    margin: 0 auto;}

#content, #carousel, #searchContainer {overflow: auto;}

#nav, #footer, #feature {
    margin: 1%;}

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;}

.column3 {margin-right: 0%;}

.biCard1, .biCard2 {
    width: 48%;
    float: left;
    margin: 1%}

.biCard2 {
    float: right;}

.leftSidePane{
    width: 25%;
    float: left;
    margin: 1%;
    height: 40em;
    margin-bottom: 1em;
    background-color: #efefef;
}

.rightAdjustedPane{
    width: 70%;
    float: right;
    margin: 1%;
    height: 40em;
    margin-bottom: 1em;
    background-color: #efefef;
}


li{ 
    display: inline;
    padding: 0.53em;}

#nav, #footer {
    background-color: #efefef;
    padding: 0.5em 0;
}

 .triCard, .biCard {
    height: 20em;
    margin-bottom: 1em;
    background-color: #efefef;
}

#feature{
    height: 32em;
    margin-bottom: 1em;
    background-color: #efefef;
}